@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #105b5d;
  --background-end: #9a1c54;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: auto;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(140deg, #1E0107 1%, #7B014E 70%);
}

section[role="dialog"] button {
  color: #fff;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid white;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}

label.group > span {
  border-color: white;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  width: 276px;
  height: 93.75px;
  position: relative;
}

@media (max-width: 768px) {
  .logo-container {
    width: 130px; 
    height: auto; 
    top: 5px;
    left: 5px; 
  }
}

.main-content {
  padding-top: 6rem; /* Adjust based on your header height to prevent overlap */
}